.topics
  - @doc.comments.each do |comment|
    - if comment.author
      .topic.topic_line
        .pull-left.avatar= image_tag(comment.author.gravatar_url)
        .right_info
          .infos
            .title #{comment.author.name}: #{comment.content}
            .info.time= comment.created_at.to_s(:db)

= form_for(Comment.new) do |f|
  = f.hidden_field :doc_id, :value => @doc.id
  .clearfix
    = f.text_area :content, :class => "long", :rows => "5"
  .buttons
    = f.submit "提交", :class => "btn primary"
    %span.help-inline (输入不能为空)
