= simple_form_for(@doc) do |f|
  = f.error_notification

  / .inputs
  = f.input :name
  = f.input :category
  = f.input :path
  = f.input :desc
  = f.input :url
  = f.input :format
  = f.input :parameters
  = f.input :http_method
  = f.input :gist_url
  = f.input :annotation
  = f.input :authenticated

  = f.button :submit