.box
  %h3= @doc.name
  %p= @doc.desc
  %br/

  %h4 请求类型
  %p= @doc.http_method

  %h4 是否需要登录
  %p= @doc.authenticated ? '是' : '否'

  %h4 支持格式
  %p= @doc.format

  %h4 请求参数
  %table
    %tr
      %th Name
      %th Type
      %th Required
      %th Desc

    - @doc.parameters.each do |p|
      %tr
        %td= p.name
        %td= p.type
        %td= p.required
        %td= p.desc

.box
  %h4 URL
  %p= @doc.url
  %br/

  %h4 使用示例
  <script src="<%= @doc.gist_url %>"></script>