%h1 Listing Projects

%table.grid
  %tr.head
    %th CName
    %th Name
    %th Version
    %th Desc
    %th Handle

  - @projects.each do |project|
    %tr
      %td= link_to project.cname, project_docs_path(project)
      %td= project.name
      %td= project.version
      %td= project.desc
      %td  #{link_to 'Edit', edit_admin_project_path(project)} | #{link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete}

%br

= link_to 'New Project', new_admin_project_path