%h1 Listing admin_projects

%table.grid
  %tr.head
    %th Name
    %th CName
    %th Version
    %th Desc
    %th Handle

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= project.cname
      %td= project.version
      %td= project.desc
      %td  #{link_to 'Edit', edit_admin_project_path(project)} | #{link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete}

%br

= link_to 'New Project', new_admin_project_path