%h3 项目管理

%table.grid
  %tr.head
    %th 名称
    %th 项目
    %th 版本
    %th 描述
    %th

  - @projects.each do |project|
    %tr
      %td= link_to project.cname, project
      %td= project.name
      %td= project.version
      %td= project.desc
      %td  #{link_to '分类管理', admin_project_categories_path(project)} | #{link_to '接口管理', admin_project_docs_path(project)} | #{link_to '编辑', edit_admin_project_path(project)} |  #{link_to '删除', project, :confirm => '你确定删除吗?', :method => :delete}

%br

= link_to '新建项目', new_admin_project_path, :class => 'btn success'
