= simple_form_for(@project) do |f|
  = f.error_notification

  / .inputs
  = f.input :name, :label => '项目名(英文)'
  = f.input :cname, :label => '项目名(中文)'
  = f.input :version, :label => '项目版本'

  / .actions
  = f.button :submit
