.box
  %h2= @project.cname
  %p=  @project.desc
  %br/

  %h4 Name
  %p= @project.name

  %h4 Version
  %p= @project.version

  %h4 Author
  %p= @project.author.name

.box
  %h4 分类列表
  %ul
    - @project.categories.each do |c|
      %li= c.name

.box
  %h4 修订历史