%h3 #{link_to @project.cname + @project.version, admin_project_docs_path(@project)} - #{link_to @doc.name, project_doc_path(@project, @doc)} - 参数管理

%table
  %tr
    %th 名称
    %th 类型
    %th 描述
    %th

  - @parameters.each do |parameter|
    %tr
      %td= parameter.name
      %td= parameter.type
      %td= parameter.desc
      %td #{link_to '编辑', edit_admin_project_doc_parameter_path(@project, @doc, parameter)} | #{link_to '删除', admin_project_doc_parameter_path(@project, @doc, parameter), :confirm => '你确定要删除吗 ?', :method => :delete}

%br

= link_to '新增参数', new_admin_project_doc_parameter_path(@project, @doc), :class => 'btn success'
