%h1 Listing admin_docs

%table
  %tr
    %th Name
    %th Desc
    %th Category
    %th Parameters
    %th Method
    %th Auth
    %th Handle

  - @docs.each do |doc|
    %tr
      %td= doc.name
      %td= doc.desc
      %td= doc.category.name
      %td= doc.parameters
      %td= doc.http_method
      %td= doc.authenticated.to_s
      %td #{link_to 'Edit', edit_admin_doc_path(doc)}

%br

= link_to 'New Doc', new_admin_doc_path