%h1 Listing Docs

%table
  %tr
    %th Name
    %th Desc
    %th Author
    %th Project
    %th Category
    %th Method
    %th Format
    %th Auth
    %th Handle

  - @docs.each do |doc|
    %tr
      %td= link_to doc.name, project_doc_path(doc.project, doc)
      %td= doc.desc
      %td= doc.author.name
      %td= [doc.project.name, doc.project.version].join('-')
      %td= doc.category.name
      %td= doc.http_method
      %td= doc.format
      %td= doc.authenticated.to_s
      %td  #{link_to 'Edit', edit_admin_doc_path(doc)} | #{link_to 'Destroy', project_doc_path(doc.project, doc), :confirm => 'Are you sure?', :method => :delete}

%br

= link_to 'New Doc', new_admin_doc_path