%h3 #{link_to @project.cname + @project.version, admin_project_docs_path(@project)} - 接口管理

%table.grid
  %tr.head
    %th 名称
    %th 描述
    %th 项目
    %th 分类
    %th 请求
    %th 支持格式
    %th 授权
    %th

  - @docs.each do |doc|
    %tr
      %td= link_to doc.name, project_doc_path(@project, doc)
      %td= doc.desc
      %td= [doc.project.name, doc.project.version].join('-')
      %td= doc.category
      %td= doc.http_method
      %td= doc.format
      %td= doc.authenticated.to_s
      %td  #{link_to '参数管理', admin_project_doc_parameters_path(@project, doc)} | #{link_to '编辑', edit_admin_project_doc_path(@project, doc)} | #{link_to '删除', project_doc_path(@project, doc), :confirm => '你确定要删除吗?', :method => :delete}

%br

= link_to '新增接口', new_admin_project_doc_path(@project), :class => 'btn success'
