%h2 Listing Docs

%h1= link_to 'New Doc', new_admin_doc_path

%table.grid
  %tr.head
    %th Name
    %th Desc
    %th Project
    %th Category
    %th Method
    %th Format
    %th Auth
    %th Handle

  - @docs.each do |doc|
    %tr
      %td= link_to doc.name, project_doc_path(doc.project, doc)
      %td= doc.desc
      %td= [doc.project.name, doc.project.version].join('-')
      %td= doc.category
      %td= doc.http_method
      %td= doc.format.join(', ')
      %td= doc.authenticated.to_s
      %td  #{link_to 'Edit', edit_admin_doc_path(doc)} | #{link_to 'Destroy', project_doc_path(doc.project, doc), :confirm => 'Are you sure?', :method => :delete}

%br

%p= paginate @docs
