<%= form_for([:admin,@project, @category]) do |f| %>
  <fieldset>
    <legend><%= link_to @project.cname + @project.version, admin_project_docs_path(@project) %> - <%= @title %></legend>
    <%= render 'shared/error_messages', :target => @category %>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input">
      <%= f.text_field :name %></div>
    </div>
    <div class="clearfix">
      <%= f.label :desc %>
      <div class="input">
      <%= f.text_field :desc, :class => "xxlarge", :style => "height:80px;" %></div>
    </div>
    <div class="actions">
      <button class="btn primary">Save</button>
      <%= link_to 'Back', admin_project_categories_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
